Source: papirus-folders
Section: universe/x11
Priority: optional
Maintainer: Serhii Yeremenko <finalitik@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/PapirusDevelopmentTeam/papirus-folders
Bugs: https://github.com/PapirusDevelopmentTeam/papirus-folders/issues
Rules-Requires-Root: no

Package: papirus-folders
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, bash (>= 4.0)
Recommends: papirus-icon-theme (>= 20171007)
Description: a tool that lets you change the colors of folders
 Papirus-folders is a handy bash script that lets you change the
 colors of folders in the Papirus icon theme and its forks based on
 version 20171007 or newer.
 It's an easy way to customize how your folders look.
